@import "tailwindcss";

@layer base {
  :root {
    --brand-primary: #1A92B3;
    --brand-secondary: #F39200;
  }
}

body {
  @apply bg-slate-50 text-slate-800 antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-bold text-slate-900;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in-up {
  animation: fadeInUp 0.8s ease-out forwards;
}

@keyframes bounceSlow {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }
}

.animate-bounce-slow {
  animation: bounceSlow 2s ease-in-out infinite;
}
